
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Achieve</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head><body>

  <section class="main-header">
    <img src="assets/achieve.png">
  </section>
  <section class="about">
    <h1>About Achieve</h1>
    <p>
<p>このアプリでは登録されている本を予約することができます。</br>
検索窓に入力すると、自分が借りたい本が登録されているか調べることができます。</p>
<p>借りたい本が登録されていない場合、リクエストをすることができます。</br>
本の登録は管理人のみが行うことができます。</p>
    <ul>
      <li><%= link_to "管理画面はこちら", new_admin_user_session_path %></li>
      <li>id:admin@example.com</li>
      <li>pass:password</li>
    </ul>
  </section>
  <section class="function">
    <h1>Function</h1>
    <div class="function-images">
      <div class="function-image">
        <img src="assets/key.png">
        <p>ログイン機能</p>
      </div>
      <div class="function-image">
        <img src="assets/mails.png">
        <p>メール送信機能</p>
      </div>
      <div class="function-image">
        <img src="assets/girls.png">
        <p>友達つながり機能</p>
      </div>
      <div class="function-image">
        <img src="assets/comment.png">
        <p>コメント投稿機能</p>
      </div>
    </div>
  </section>
  <footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>
</body>
</html>