<p>このアプリでは登録されている本を予約することができます。</p>
<p>検索窓に入力すると、自分が借りたい本が登録されているか調べることができます。</p>
<p>借りたい本が登録されていない場合、リクエストをすることができます。</p>
<p>本の登録は管理人のみが行うことができます。</p>
    <ul>
      <li><%= link_to "管理画面はこちら", new_admin_user_session_path %></li>
      <li>id:admin@example.com</li>
      <li>pass:password</li>
    </ul>
